{% extends 'base.html.twig' %}

{% block title 'Home Stagin' %}

{% block body %}
<!-- <div class="containerTitle">
        <h1 data-splitting class="headline headline--twirl">twirling</h1>
</div> -->

<section id="home-stagin-header">
    <div class="jumbotron text center">
        <!-- <div class="jumbotronTitle">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>-->
        <h1 class="titleSnake">HOME STAGING</h1>

        <h3>COMMENT VENDRE PLUS FACILEMENT SON BIEN ?</h3>
        <p>En France, depuis 2008, le Home Staging s’est développé et il est aujourd’hui un réel argument de vente. En effet, cette technique est une solution pour attirer des clients et mieux vendre son appartement ou maison. C’est avant tout mettre tous les atouts de son côté.
            Il ne faut pas confondre cette technique et la décoration intérieure mais c’est attirer l’attention de l’acquéreur potentiel.</p>
    </div>
</section>

<section id="home-staging-content">
    <div class="jumbotron text center">
        <img src="../img/home-staging2.jpg" alt="home-stagin-image"/>
                <span>ETAPE N°1 > Je dépersonnalise</span>
                <span>ETAPE N°2 > Je répare</span>
                <span>ETAPE N°3 > J'aménage</span>
                <span>ETAPE N°4 > Je décore</span>
                <span>ETAPE N°5 > Nos travaux</span>
        <p> Il faut savoir qu’un acquéreur prend sa décision dans les 90 premières secondes de la visite. C’est pour cela qu’il doit rentrer non pas chez vous mais potentiellement chez lui.<br>
            Le Home Staging va permettre de faire ressentir un climat positif et rassurant au client.<br>
            En plus <strong>d’aider le client à se projeter</strong>, cela relancera tout simplement votre bien sur le marché. Grâce au Home Staging, les photos de votre bien sur le site ou en vitrine de l’agence auront plus d’impact auprès des futurs acquéreurs.<br>
            Mettre en application le Home Staging peut prendre du temps et de l’énergie.<br>
            <br>
            <span class="span-red">Point important :</span> se focaliser sur la valorisation de votre bien afin de <strong>vendre mieux et au plus vite</strong>. </p>
    </div>
</section>


{% endblock %}