{% extends 'base.html.twig' %}

{% block title 'Editer le bien' %}

{% block body %}
<div class="container mt-2">
    <div>
        <h2>photo</h2>
    </div>
    <div class="container mt-4">
        <div class="">
            <h1>Editer le bien</h1>
            {{ include('admin/property/_form.html.twig', {button: 'Editer'}) }}


            <div class="text-right">
                <a href="{{ path('admin.property.index') }}" class="btn btn-danger">Retour</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
