<div class="card mb-4">
    {% if property.filename %}
    <!-- <img src="/images/properties/{{ property.filename }}" alt="card-img-top" style="width: 100%; height:auto;"> -->
        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
    {% else %}
        <img src="{{ 'images/properties/dessin-maison.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height:auto;">
    {% endif %}
</div>