
{% block body %}

<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="coucheTextTop" href="#page-top">Back-Office</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Menu</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about">A propos</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#training">Biens</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#experience">Utilisateurs</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#skill">Mes messages</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#portfolio">Mon compte</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#contacts">Se déconnecter</a>
        </li>
    </ul>
</nav>

{% endblock %}


