{% extends 'base.html.twig' %}

{% block title 'Create user' %}

{% block body %}

    <div class="container mt-4">
        <h1>Créer un nouvel utilisateur</h1>
        {{ include ('admin_user/_form.html.twig', {form: form, button: 'Créer'}) }}
        <div class="text-right">
            <a href="{{ path('admin_user.index') }}" class="btn btn-danger">Retour</a>
        </div>
    </div>
    

{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block javascripts %}

{% endblock %}